body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2,
h3,
h4 {
  margin: 0px;
  padding: 10px;
}

/*
*=== HEADER ===
*/
header {
  height: 69px;
  width: 100%;
  background-color: black;
  position: fixed;
  display: flex;
  border-bottom: 1px solid seashell;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  margin-top: 0;
  top: 0;
}

header a {
  color: seashell;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
  height: 50px;
  width: auto;
  padding: 10px;
  color: seashell;
}

.logo img {
  height: 50px;
}

.nav {
  margin-right: 10px;
}

.nav span {
  display: inline-block;
}

.main {
  padding-top: 69px;
  margin: auto;
  width: 1200px;
  z-index: 1;
}
/*
*===BANNER IMAGE===
*/
#mission {
  background-image: url("../images/mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
}

.content {
  background-color: black;
  width: 100%;
  margin: auto;
  text-align: center;
}

/*
*===TEA OF THE MONTH===
*/

.tea-month {
  width: 1000px;
  height: 770px;
  margin: auto;
  padding-top: 70px;
  display: block;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    display: block;
    padding: 5px;
  }

  .item img {
    height: 200px;
    width: 300px;
    margin: 10px;
    display: block;
  }

  .item span {
    display: block;
    text-align: center;
    padding: 5px;
    font-weight: bold;
  }

/*
*===LOCATIONS SECTION===
*/

.locations {
  background-image: url("../images/locations-background.jpg");
  width: 1200px;
  height: 500px;
  display: block;
}

.locations h2 {
  padding-top: 60px;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1100px;
  margin: auto;
  padding-top: 5px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
  margin: 5px 20px;
  padding: 10px;
  background-color: black;
}

p {
  display: block;
}

.contact {
  height: 200px;
}

.footer {
  text-align: left;
  width: 100%;
}

.footer h5 {
  padding-left: 20px;
}
